@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato";
}

.app {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.header {
  position: absolute;
  background: #252f3d;
  height: 56.83px;
  width: 100%;
}

.header-logo-img {
  color: white;
  margin: 12px 0px 0px 166px;
  height: 32px;
  width: 294px;
  filter: brightness(0) invert(1);
}

.reg-form {
  width: 502px;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-top: 102px;
}

.form-input-container {
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  margin: 15px 0px 45px 0px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}

.form-dropdown-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-dropdown-container *:not(:first-child):not(:last-child) {
  margin: 0px 25px;
}

.form-text-input-container,
.form-dropdown-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.form-label {
  margin-bottom: 10px;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.form-text-input,
.form-select-container {
  width: 100%;
  height: 50px;
  padding: 7px 16px;
  border-radius: 4px;
  border: 1px solid #a5b6cd;
}

.form-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.submit-button,
.cancel-button {
  width: 145px;
  height: 46px;
  align-self: flex-end;
  border-radius: 6px;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.submit-button {
  padding: 11px 34px;
  margin: 0px 0px 102px 7.5px;
  border: none;
  background-color: #127c95;
  color: white;
}

.cancel-button {
  padding: 10px 32px;
  margin: 0px 7.5px 102px 0px;
  border: 1px solid #4790a1;
  background-color: white;
  color: #4790a1;
}

span {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2%;
  color: #da1e28;
}

.form-text-input-container > span {
  width: 100%;
  margin-top: 6px;
}

.alert-container {
  position: fixed;
  top: 148px;
  right: 80px;
  z-index: 1;
}

.alert-container-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25%;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 49px;
  }

  .header-logo-img {
    height: 16px;
    width: 148px;
    margin: 16px 0px 0px 17px;
  }

  .reg-form {
    width: 100%;
  }

  .form-title {
    line-height: 24px;
    margin-left: 26px;
  }

  .form-input-container {
    border-radius: 0px;
    padding: 25px;
  }

  .form-button-container {
    width: 100vw;
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
  }

  .submit-button,
  .cancel-button {
    width: 88%;
    height: 46px;
    align-self: flex-start;
    border-radius: 6px;
    gap: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    cursor: pointer;
  }

  .submit-button {
    padding: 11px 34px;
    margin: 0px 25px 90px 25px;
    border: none;
    background-color: #127c95;
    color: white;
  }

  .cancel-button {
    margin: 20px 25px 12px 25px;
    border: 1px solid #4790a1;
    background-color: white;
    color: #4790a1;
  }

  .alert-container {
    position: absolute;
    top: 800px;
    right: 10px;
    left: 0px;
    z-index: 1;
  }
}
